/* Variables */
:root {
    --basic-color: #F6C34F;
    --secondary-color: #4B160F;
    --basic-bg: linear-gradient(180deg, rgba(255, 204, 67, 1) 0%, rgba(222, 141, 37, 1) 35%, rgba(253, 241, 128, 1) 100%);
    /* --basic-bg: linear-gradient(180deg, rgba(253, 212, 103, 1) 0%, rgba(254, 166, 53, 1) 35%, rgba(253, 241, 128, 1) 100%); */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    transition: .3s ease-in-out;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

a:focus,
a:hover,
button,
button:hover,
button:focus,
button:active,
input,
input:focus,
input:hover,
input:active {
    background: transparent !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
dl,
ul,
li,
a {
    margin: 0 !important;
    padding: 0 !important;
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: +9999999;
    background-color: var(--secondary-color);
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    z-index: 1500;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

/* Wrapper Container Start */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 980px;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
}

/* Wrapper Container End */

/* Top Navbar Start */
.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    padding: .3rem 0;
}

.topNav span {
    padding-bottom: .2rem;
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
    color: var(--secondary-color);
}

.topNav>span:hover {
    border-bottom-color: var(--basic-color);
    color: var(--basic-color);
}

/* Top Navbar End */

/* Header Start */

#fixedHeader {
    background: var(--basic-bg);
    padding: 1rem 0;
}

.fixedHeader {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: +99999;
}

header .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    flex-flow: row;
    flex-grow: 2;
    padding: .5rem 0rem !important;
}

header .navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar .dropdown-menu.show {
    width: 100%;
}

header .navbar .dropdown-menu a {
    padding: 1rem !important;
}

header .custom-search {
    width: 60%;
}

.custom-search button {
    border: 1px solid var(--secondary-color) !important;
    border-right: none !important;
    color: var(--secondary-color) !important;
    font-size: .6rem;
    border-radius: 0.5rem;
    border-right-color: transparent;
    background-color: #fff !important;
    font-weight: bolder;
    z-index: 2;
}

.custom-search .icons {
    position: absolute;
    right: 1rem;
    font-size: 15px;
    top: .5rem;
    font-weight: 100;
    font-style: normal;
    width: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: +999;
}

.custom-search button::before,
.custom-search input::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 78%;
    top: 10%;
    right: 1px;
    background-color: rgba(75, 22, 15, 0.45098039215686275);
}

.custom-search button::after {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    margin-left: 1.255em;
    vertical-align: 0em;
    padding: 0.2rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: .3s ease;
}

.custom-search .show button::after {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.custom-search button:hover {
    background-color: #fff !important;
    color: var(--secondary-color) !important;
}

.custom-search input {
    position: relative;
    border: 1px solid var(--secondary-color) !important;
    border-radius: 0.6rem !important;
    background-color: #fff !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.custom-search input,
.custom-search input:focus {
    border-left: none !important;
}

.navbar-brand {
    width: 110px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    padding-left: 1.5rem !important;
}

.nav-item .nav-link img {
    margin-right: .5rem;
    width: 1.2rem;
}

.listNav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .7rem;
    font-weight: bold;
}

.listNav a {
    padding: 0 2.4rem 0 0 !important;
    color: var(--secondary-color);
}

.listNav .selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listNav .selection select {
    padding: 0;
    margin-left: 1rem;
    color: var(--secondary-color);
    width: 4rem;
}

/* Header End */

/* Section Ads Start */
#ads {
    background-color: #4a4a4a;
    height: 6rem;
}

/* Section Ads End */

/* Section Mat Start */
#mat {
    margin-top: 5rem;
    background: url("../images/pizza-3007395_1920.jpg");
    background-size: cover;
    height: 22.3rem;
    margin-bottom: 5rem;
}

#godis {
    margin-top: 3rem;
    background-image: url(../images/abundance-1868573_1920.jpg);
    background-position: center;
    height: 22.3rem;
    margin-bottom: 5rem;
}

#halsa {
    margin-top: 5rem;
    background-image: url(../images/glass-3081015_1920.jpg);
    background-position: 0rem 32rem;
    background-size: cover;
    height: 22.3rem;
    margin-bottom: 5rem;
}

#stad {
    margin-top: 3rem;
    background-image: url(../images/gloves-4017614_1920.jpg);
    background-position: 0rem -12.6rem;
    background-size: cover;
    height: 22.3rem;
    margin-bottom: 5rem;
}

#hem {
    margin-top: 3rem;
    background-image: url(../images/kitchen-1940174_1920.jpg);
    background-position: 0rem -23.5rem;
    background-size: cover;
    height: 22.3rem;
    margin-bottom: 5rem;
}

#husgerad {
    margin-top: 3rem;
    background-image: url(../images/XEfztHxiOw.jpg);
    background-position: center;
    background-size: cover;
    height: 22.3rem;
    margin-bottom: 5rem;
}

#klassAndParty {
    margin-top: 3rem;
    background-image: url(../images/restaurant-2697945_1920.jpg);
    background-position: center;
    background-size: cover;
    height: 22.3rem;
    margin-bottom: 5rem;
}

#kladerAndFashion {
    margin-top: 3rem;
    background-image: url(../images/fashion-1031469_1920.jpg);
    background-position: top;
    background-size: cover;
    height: 22.3rem;
    margin-bottom: 5rem;
}

#gym {
    margin-top: 3rem;
    background-image: url(../images/training-828726_1920.jpg);
    background-position: 88% 82%;
    background-size: cover;
    height: 22.3rem;
    margin-bottom: 5rem;
}

.wrapper-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.card {
    width: 34rem;
    padding: 3.8rem 2rem 1rem;
    margin-bottom: 1.6rem;
    border-radius: 1rem;
}

.card .card-title {
    position: relative;
    font-size: 1.6rem;
    color: var(--basic-color);
    font-weight: bolder;
    padding-bottom: 0.6rem;
}

.card .card-title::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 9rem;
    height: .2rem;
    background-color: var(--secondary-color);
}

/* Section Mat End */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: start;
    align-items: start;
    flex-direction: column;
}

.swiper-slide .img {
    width: 100%;
    height: 26rem;
    overflow: hidden;
}

.swiper-slide .like {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .like img {
    width: 1.3rem;
}

.swiper-slide .img img {
    transform: translateY(10px);
    object-fit: cover;
    width: 100%;
    height: 95%;
    border-radius: 1rem;
}

.swiper-slide .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    padding: 0 1rem;
    color: var(--secondary-color);
}

.swiper-slide .content h5 {
    font-weight: bolder;
    font-size: 1rem;
}

.swiper-slide .content p {
    font-size: .8rem;
    margin: 0;
}

footer {
    margin-top: 40px;
    background-color: var(--secondary-color);
    padding: 40px 20px 15px;
    color: #fff;
}

footer ul li>h6 {
    font-size: 13px;
    font-weight: bolder;
}

footer ul li {
    padding: 6px 0 !important;
}

footer ul li>a {
    text-decoration: none !important;
    color: #fff;
}

footer ul li input[type=text] {
    background: #baa6a4 !important;
    color: var(--secondary-color);
    padding: 1.5rem 1rem;
    font-size: 1rem;
}

footer ul li .form-check {
    margin: .6rem 1rem;
}

footer ul li .form-group {
    position: relative;
}

footer ul li .fas.fa-arrow-right {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    color: var(--secondary-color);
    background: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer ul p {
    margin: 0 !important;
}

footer ul li>a:hover {
    color: var(--basic-color);
}

footer hr {
    border-top: 1px solid rgba(246, 195, 79, 0.4);
}

footer .footerPayment {
    border: 1px solid #fff;
    padding: 18px;
    border-radius: 15px;
    position: relative;
    margin-bottom: 15px;
    height: 190px;
}

footer .footerPayment .title {
    position: absolute;
    top: -10px;
    left: 20px;
    background: var(--basic-color);
    padding: 2px 20px;
    border-radius: 6px;
    color: var(--secondary-color);
    font-weight: bolder;
}

footer .footerPayment .img {
    width: 28%;
    height: 34px;
    margin: 10px 5px;
    border-radius: 10px;
    display: inline-block;
    background: #fff;
    padding: 6px;
}

footer .social {
    float: right;
}

footer .social>i {
    background-color: #fff;
    padding: 7px 13px;
    color: var(--secondary-color);
    font-size: 13px;
    border-radius: 3px;
    margin-right: 5px;
    font-weight: bolder;
}

footer .social>i:last-child {
    margin-right: 0;
}

.footerPayment.application {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerPayment.application .app-img {
    width: 13rem;
    margin: 4px;
}

#coming_soon {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 100% 58%;
}

#coming_soon::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 22, 15, 0.4);
}

#coming_soon::after {
    content: '';
    position: absolute;
    left: 21%;
    top: 6%;
    width: 56%;
    height: 40%;
    background-image: url(../images/coming-soon.png);
    background-size: cover;
    background-position: 100%;
}

#coming_soon .content,
#page_404 .content {
    padding: 20px;
    padding-top: 2.8rem;
    text-align: center;
    width: 45vw;
    height: 260px;
    position: absolute;
    bottom: 0rem;
    left: 26.6%;

}

#coming_soon .content h1,
#page_404 .content h1 {
    font-size: 40px;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;

}

#coming_soon .content p,
#page_404 .content p {
    color: #fff;
    font-size: 0.7rem;
    width: 55%;
    margin: 2rem auto 1.5rem;
}

#coming_soon .content a,
#coming_soon .content a:hover,
#page_404 .content a,
#page_404 .content a:hover {
    font-size: 1rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    background: var(--basic-bg) !important;
    padding: .8rem 5rem !important;
    border-radius: .5rem;
    font-weight: bolder;
    text-decoration: none;
}

#page_404 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 100% 58%;
}


#page_404::after {
    content: '';
    position: absolute;
    left: 22%;
    top: 6%;
    width: 60%;
    height: 55%;
    background-image: url(../icons/404.svg);
    background-size: cover;
    background-position: 100%;
}

#page_404 .content h1,
#page_404 .content p {
    color: var(--secondary-color);
    margin: 1rem auto;
}

#page_404 .content h1 span {
    color: var(--basic-color);
}

#header_page {
    margin: 4rem 0;
}

#header_page .list-group {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: .4rem 1rem !important;
    border-radius: 1rem;
    background-color: #fafafa;
}

#header_page .list-group-item {
    background-color: #fafafa;
    padding: .5rem 0rem !important;
    font-size: .7rem;
    font-weight: 600;
    color: var(--secondary-color);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

#header_page .list-group-item:last-child {
    border-bottom: none
}

#header_page .list-group-item a,
#header_page .list-group-item a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

#header_page .title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--secondary-color);
    color: var(--basic-color);
    font-size: 2.4rem;
    font-weight: bolder;
    border-radius: 1rem;
}

#header_page .paragraph {
    font-size: .7rem;
    color: var(--secondary-color);
    line-height: 1.8;
}

#header_page .rule {
    background: #fafafa;
}

#header_page .rule h3 {
    background: var(--basic-bg);
    padding: .4rem .6rem !important;
    font-size: .8rem;
    font-weight: bolder;
}

.card-info {
    position: relative;
    padding: 1rem;
    background: #fafafa;
    border-radius: .8rem;
}

.card-info .info-img {
    position: absolute;
    top: -2rem;
    left: 34%;
    padding: .6rem;
    background: #fff;
    border-radius: 100%;
}

.card-info .info-img i {
    padding: 1.4rem;
    background: var(--secondary-color);
    border-radius: 100%;
    color: var(--basic-color);
    font-size: 1.2rem;
}

.card-info .info-content {
    padding-top: 3.3rem;
    color: var(--secondary-color);
}

.card-info .info-content h6 {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem !important;
}

.card-info .info-content p {
    margin: 0;
    font-size: .8rem;
    font-weight: bolder;
}